*{
	margin: 0px;
	padding: 0;
	box-sizing: border-box;

}
body {
	text-align: center;
	background-color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 700;
	
}

li{
	float: left;
	margin: 40px;
}
ul{
	width: 600px;
	margin: auto;
	
}

img{
	width: 200px;

}
h1, h2, h3, h4, h5, h6 {
	color: purple;
	font-family: 'veranda', sans-serif;
}
	.column{
		width: 500px;
		float: left;
		height: 300px;
		margin: 20px;

	}

	.clearfix:after{
		visibility: hidden;
		height: 0;
		font-size: 0;
		display: block;
		content: ' ';
		clear: both;
	}
	
	#parent{
		
		width: 1080px;
		margin: auto;

	}